// Color Variables
$baseColor1: #FFFFFF;
$baseColor2: #EBF5EF;
$mainColor1: #8BBFA6;
$mainColor2: #82B897;
$mainColor3: #AEB9BA;
$accentColor: #F8E9B2;
$textColor1: #595757;
$textColor2: #FFFFFF;
$textColor3: #59A589;

// Font Variables
$maru: "Zen Maru Gothic";
$quick: "Quicksand";
$mont: "Montserrat";