

// ABOUT
.profile {
    padding: 80px 0;
    background-color: #f9f9f9;

    .contents-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row-reverse;        
        
        .profile-text {
            flex: 1;
            max-width: 600px;

            .section-head {
                &--glay {
                    margin-bottom: 16px;

                }
            }
        }

        .profile-frame {
            flex: 1;
            position: absolute;
            right: calc(((100% - 1400px) / 2) + 100px);
            top: -85px;
            width: 434px;
            height: auto;
            overflow: hidden; // フレーム内に収める
            border-radius: 8px; // 角を丸く
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // 影を追加

            .profile__img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover; // 画像をフレーム内に収める
                object-position: center; // 画像の中央を表示
            }
        }
    }
}


// PROFILE
.profile {
    display: flex; // 子要素を横並びに配置
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    padding: 120px 0;

    &-frame {
        flex: 1 1 40%; // フレックスボックスの幅を指定
        right: calc(((100% - 1400px) / 2) + 100px);
        top: -200px;
        width: 434px;
        height: auto;
        position: relative;
        overflow: hidden; // フレーム内に収める
        border-radius: 8px; // 角を丸く
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // 影を追加
        text-align: center;

        &__img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover; // 画像をフレーム内に収める
            object-position: center; // 画像の中央を表示
        }
    }

    &-text {
        flex: 1 1 50%; // フレックスボックスの幅を指定
        margin-left: auto;
        margin-right: auto;

        // .section-content {
        //     h3 {
        //         font-size: 1.8rem;
        //         margin-bottom: 15px;
        //     }

        //     p {
        //         font-size: 1.4rem;
        //         line-height: 1.8;
        //         margin-bottom: 20px;
        //     }

        //     .btn {
        //         padding: 10px 20px;
        //         background-color: #000;
        //         color: #fff;
        //         border-radius: 5px;
        //         text-transform: uppercase;
        //     }
        // }
    }
}
