@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  color: #595757;
  font-family: "Quicksand", "Zen Maru Gothic", "Montserrat", serif;
}

h2 {
  font-size: 26px;
  line-height: 2.13em;
  letter-spacing: 0.2em;
}

h3 {
  font-size: 24px;
  line-height: 2.13em;
  letter-spacing: 0.2em;
}

p {
  font-size: 16px;
  line-height: 2.13em;
  letter-spacing: 0.2em;
}

li {
  list-style: none;
  letter-spacing: 0.2em;
}

.section {
  padding: 200px 0;
}
@media screen and (max-width:599px) {
  .section {
    padding: 96px 24px;
  }
}

.contents-container {
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (max-width:599px) {
  .contents-container {
    padding: 0 16px;
  }
}

.pc-none {
  display: none;
}
@media screen and (max-width:599px) {
  .pc-none {
    display: block;
  }
}

.sp-none {
  display: none;
}
@media screen and (max-width:599px) {
  .sp-none {
    display: none;
  }
}

.section-head {
  position: relative;
  font-size: 26px;
  letter-spacing: 0.2em;
  line-height: 1em;
  text-align: center;
  margin-bottom: 40px;
}
.section-head__en {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: bold;
}
.section-head--glay {
  color: #595757;
}
.section-head--white {
  color: #FFFFFF;
}

.section-content__head {
  font-size: 18px;
  margin-bottom: 12px;
  color: #59A589;
}
@media screen and (max-width:599px) {
  .section-content__head {
    line-height: 1.5em;
  }
}
.section-content__text {
  line-height: 1.8;
  margin-bottom: 24px;
}

.nav-menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media screen and (max-width:599px) {
  .nav-menu {
    flex-flow: column;
    row-gap: 32px;
  }
}

.fa-instagram {
  font-size: 24px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  width: 212px;
  height: 48px;
  border-radius: 4px;
  font-family: "Zen Maru Gothic";
  color: #59A589;
}
.btn .fa-envelope {
  margin-top: 2px;
  font-size: 16px;
}
.btn--fill {
  background-color: #82B897;
  color: #FFFFFF;
}
.btn--stroke {
  border: 2px solid #82B897;
  color: #82B897;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 120px;
  padding: 0 40px;
  color: #59A589;
}
@media screen and (max-width:599px) {
  .header {
    height: 64px;
    padding: 0 0 0 16px;
  }
}
.header__logo {
  width: 120px;
}
@media screen and (max-width:599px) {
  .header__logo {
    width: 100px;
  }
}
.header .nav {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media screen and (max-width:599px) {
  .header .nav {
    display: none;
  }
}
.header .ham {
  display: none;
}
@media screen and (max-width:599px) {
  .header .ham {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    padding: 16px;
  }
}
.header .ham-icon {
  display: flex;
  flex-flow: column;
  row-gap: 8px;
  margin-bottom: 3px;
}
.header .ham__border {
  width: 100%;
  height: 1px;
  border-radius: 16px;
  background-color: #FFF;
}
.header .ham__menu {
  color: #FFFFFF;
  font-size: 10px;
}

.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}
@media screen and (max-width:599px) {
  .footer {
    padding-top: 96px;
  }
}
.footer .nav {
  margin-bottom: 24px;
}
@media screen and (max-width:599px) {
  .footer .nav {
    margin-bottom: 48px;
  }
}
.footer__logo {
  width: 166px;
  margin-bottom: 120px;
}
@media screen and (max-width:599px) {
  .footer__logo {
    width: 120px;
    margin-bottom: 96px;
  }
}

.hero {
  width: 100%;
  height: 100dvh;
  background: linear-gradient(90deg, #8BBFA6 0%, #8BBFA6 50%, #AEB9BA 50%, #AEB9BA 100%);
  background-size: cover;
}
.hero__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 364px;
  height: auto;
}
@media screen and (max-width:599px) {
  .hero__img {
    width: 100px;
  }
}

.catchcopy {
  font-size: 30px;
  color: #F8E9B2;
  position: absolute;
  left: calc((100% - 1200px) / 2);
  top: 190px;
}
@media screen and (max-width:599px) {
  .catchcopy {
    font-size: 24px;
    margin-top: -80px;
    left: 10%;
  }
}

.about {
  padding: 80px 0;
  background-color: #f9f9f9;
}
.about .contents-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width:599px) {
  .about .contents-container {
    flex-flow: column-reverse;
  }
}
.about .contents-container .column-left {
  flex: 1;
  max-width: 600px;
}
@media screen and (max-width:599px) {
  .about .contents-container .column-left {
    width: 100%;
  }
}
.about .contents-container .column-left .column-left-picture-frame {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.about .contents-container .column-left .column-left-picture-frame .column-left__photo {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about .contents-container .column-right {
  flex: 1;
  max-width: 600px;
}
@media screen and (max-width:599px) {
  .about .contents-container .column-right {
    width: 100%;
    height: calc(100vw - 24px + (50vw - 4px) / 2);
  }
}
.about .contents-container .column-right .section-head--glay {
  margin-bottom: 16px;
}

.works {
  background-color: #EBF5EF;
}
.works-items {
  display: flex;
  justify-content: center;
  height: 400px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-bottom: 96px;
}
@media screen and (max-width:599px) {
  .works-items {
    -moz-column-gap: 8px;
         column-gap: 8px;
    width: calc(100% + 24px);
    margin-bottom: 48px;
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
.works-article {
  width: 25%;
}
@media screen and (max-width:599px) {
  .works-article {
    flex-shrink: 0;
    width: 58vw;
  }
}
.works-article__date {
  margin-bottom: 16px;
  font-size: 14px;
}
@media screen and (max-width:599px) {
  .works-article__date {
    margin-bottom: 8px;
    font-size: 10px;
  }
}
.works-article__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width:599px) {
  .works-article__title {
    margin-bottom: 4px;
    font-size: 14px;
  }
}
.works-article .picture-frame {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.works-article__img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s linear;
}
.works-article__img:hover {
  transform: scale(1.1);
}
.works .btn {
  margin: 0 auto;
}

.profile {
  padding: 80px 0;
  background-color: #FFFFFF;
}
.profile .contents-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  position: relative;
}
@media screen and (max-width:599px) {
  .profile .contents-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.profile .contents-container .profile-text {
  flex: 1;
  max-width: 600px;
}
.profile .contents-container .profile-text .section-head--glay {
  margin-bottom: 16px;
}
.profile .contents-container .profile-frame {
  flex: 1;
  position: absolute;
  right: calc((100% - 1400px) / 2 + 100px);
  top: -160px;
  width: 560px;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width:599px) {
  .profile .contents-container .profile-frame {
    position: static;
    top: auto;
    right: auto;
    width: 240px;
    margin-bottom: 16px;
  }
}
.profile .contents-container .profile-frame .profile__img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contact-top {
  position: relative;
  width: 1080px;
  height: 80px;
  background-color: #82B897;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}
@media screen and (max-width:599px) {
  .contact-top {
    width: auto;
    height: 56px;
  }
}
.contact .section-head {
  margin: 0 auto;
}
.contact .section-head__en {
  margin: 0 auto;
}

.form {
  background-color: #EBF5EF;
  padding-bottom: 32px;
}
.form .contact-bottom {
  position: relative;
  width: 1080px;
  height: 400px;
  background-color: #82B897;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width:599px) {
  .form .contact-bottom {
    width: auto;
    height: 240px;
  }
}
.form .contact-bottom li {
  background-color: #FFFFFF;
  display: flex; /* Flexboxを使用 */
  flex-direction: column; /* 子要素を縦並びにする */
  align-items: center; /* 水平方向の中央揃え */
  justify-content: center; /* 垂直方向の中央揃え */
  width: 300px; /* 必要ならサイズを指定 */
  height: 300px; /* 必要ならサイズを指定 */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width:599px) {
  .form .contact-bottom li {
    width: 240px;
    height: 160px;
  }
}
.form .contact-bottom .contact-form {
  display: flex;
  flex-direction: column; /* アイコンとメッセージを縦並び */
  align-items: center; /* 中央揃え */
  justify-content: center;
  text-align: center; /* テキストを中央揃え */
  font-size: 24px;
  color: #595757; /* 必要に応じて調整 */
}
.form .contact-bottom .fa-regular.fa-envelope {
  font-size: 36px; /* アイコンサイズ */
  margin-bottom: 10px; /* メッセージとの間に余白 */
  color: #59A589; /* 必要に応じて色を調整 */
}
.form .contact-bottom .contact__message {
  font-size: 16px; /* 必要に応じて調整 */
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */